name: CI

on:
  push:
    paths:
      - '.github/workflows/ci.yml'
      - 'Project.toml'
      - 'src/**'
      - 'test/**'
    branches: [main]
    tags: ["*"]
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - 'Project.toml'
      - 'src/**'
      - 'test/**'

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  test:
    timeout-minutes: 60
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.threads }} threads
    env:
      JULIA_NUM_THREADS: ${{ matrix.threads }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.version == 'nightly' }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "min"
          - "1"
          - "nightly"
        os:
          - ubuntu-latest
          - macos-latest
        arch:
          - 'default'
        threads: [1, 2]
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
        id: julia-cache
        with:
          cache-name: "tests"
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
        continue-on-error: true
      - name: Save Julia depot cache on cancel or failure
        id: julia-cache-save
        if: cancelled() || failure()
        uses: actions/cache/save@v4
        with:
          path: |
            ${{ steps.julia-cache.outputs.cache-paths }}
          key: ${{ steps.julia-cache.outputs.cache-key }}
