name: CI

on:
  push:
    paths:
      - '.github/workflows/ci.yml'
      - 'Project.toml'
      - 'src/**'
      - 'test/**'
    branches: [main]
    tags: ["*"]
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - 'Project.toml'
      - 'src/**'
      - 'test/**'

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    timeout-minutes: 60
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.threads }} threads
    env:
      JULIA_NUM_THREADS: ${{ matrix.threads }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.version == 'nightly' }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.7"
          - "1"
          - "nightly"
        os:
          - ubuntu-latest
        arch:
          - x64
        threads: [1, 2]
        include:
          - version: "1"
            os: macos-latest
            arch: "aarch64"
            threads: 1
          - version: "1"
            os: macos-latest
            arch: "aarch64"
            threads: 2
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
        with:
          cache-name: "tests"
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
        continue-on-error: true
