name: Documentation

on:
  push:
    paths:
      - '.github/workflows/documentation.yml'
      - 'Project.toml'
      - 'docs/**'
      - 'src/**'
    branches:
      - main
    tags: '*'
  pull_request:
    paths:
      - '.github/workflows/documentation.yml'
      - 'Project.toml'
      - 'docs/**'
      - 'src/**'

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  build-docs:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
      - uses: julia-actions/cache@v2
        id: julia-cache
        with:
          cache-name: "docs"
      - uses: julia-actions/julia-docdeploy@v1
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
      - name: Save Julia depot cache on cancel or failure
        id: julia-cache-save
        if: cancelled() || failure()
        uses: actions/cache/save@v4
        with:
          path: |
            ${{ steps.julia-cache.outputs.cache-paths }}
          key: ${{ steps.julia-cache.outputs.cache-key }}
